body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #333437;
  color: #ffffff;
}
#app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 12rem;
}
.questionDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.161);
  padding: 1rem;
  border-radius: 0.3rem;
}
.optionDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.optionDiv span {
  border: 1px solid rgba(255, 255, 255, 0.369);
  padding: 1rem;
  transition: background-color 0.2s;
  cursor: pointer;
}

.optionDiv span:hover {
  background-color: rgba(70, 131, 180, 0.285);
  transition: background-color 0.2s;
}

@media screen and (max-width: 700px) {
  #app {
    margin: 1rem;
  }
}
